<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <footer>
        <div class="footer-container">
            <div class="footer-column">
                <h3>PlantKu</h3>
                <ul>
                    <li><a href="https://plantku.id/contact.html">Hubungi Kami</a></li>
                    <li><a href="https://plantku.id/about_us.html">Tentang Kami</a></li>
                    <li><a href="https://plantku.id/blog.html">Newsroom</a></li>
                    <li><a href="#">Karier</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <ul>
                    <li><a href="https://plantku.id/fitur.html">Layanan</a></li>
                    <li><a href="#">Sertifikasi & Jaminan Kualitas</a></li>
                    <li><a href="#">CSR</a></li>
                    <li><a href="#">Aplikasi PlantKu</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Hubungi Kami</h3>
                <div class="social-media">
                    
                    <a href="https://www.instagram.com/plantku_app?igsh=MXJicXpremRzcjZjbw=="><i class="fab fa-instagram" style="font-size: 24px; color: #E1306C;"></i></a>

                   
                    <a href="https://wa.me/6282113146585" target="_blank">
        <i class="fab fa-whatsapp" style="font-size: 24px; color: green;"></i>
    </a>
                </div>
               
            </div>
        </div>
    </footer>
</body>
</html>
