<!-- html/header.html -->
<header>
<ul class="logo">
    <li><img src="img/logo.png" alt="PlantKu Logo"></li>
    <li><p>plantKu</p></li>
</ul>
<nav>
    <ul>  
        <li><a href="index.html">Home</a></li>
        <li><a href="fitur.html">Fitur</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="about_us.html">About Us</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>
<div class="whatsapp-button">
    <a href="https://wa.me/6282113146585" target="_blank">
        <i class="fab fa-whatsapp" style="font-size: 24px; color: green;"></i>
    </a>
</div>

</header>